<div>
    <h1>Objetivos</h1>
    <p>Desejo permanecer atuando como <b>Web e Mobile Developer</b> me atualizando na medida do possível nas tecnologias vigentes. 
        Também pretendo escrever artigos sobre meus acertos e falhas para ajudar pessoas emergentes no mercado com minhas experiências.
    </p>
    
    <h1>Formação</h1>
    <p>Bacharel em <a href="http://www.computacao.ufcg.edu.br/graduacao">Ciência da Computação</a> pela <a href="https://portal.ufcg.edu.br/">UFCG</a>.</p>
    
    <h1>Experiências</h1>
    
    <ul>
        <li>
            <h4><a href="https://splab.computacao.ufcg.edu.br/">Software Pratices Laboratory (SPLab)</a></h4>
            <p>Trabalho desde agosto de 2020 como Desenvolvedor de software</p>
        </li>
        <li>
            <h4><a href="https://www.accenture.com/br-pt">Accenture do Brasil</a></h4>
            <p>Trabalhei entre 2017 e 2020 como Desenvolvedor de software</p>
        </li>
        
        <li>
            <h4><a href="https://www.embedded.ufcg.edu.br/">Laboratório de Sistemas Embarcados e Computação Pervasiva (Embedded)</a></h4>
            <p>Trabalhei em 2015 como Desenvolvedor de software</p>
        </li>
        <li>
            <h4>Software Pratices Laboratory (SPLab)</h4>
            <p>Trabalhei entre 2013 e 2014 como Desenvolvedor de software</p>
        </li>
        
        

    </ul>

  </div>