<div class="footer">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    
   
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link " href="https://www.linkedin.com/in/germano-gualberto-0511203a/">Linkedin</a>
        <a class="nav-link " href="https://github.com/germanogualberto">Github</a>
        <a class="nav-link " href="https://www.instagram.com/germanogualberto/">Instagram(Pessoal)</a>
        <a class="nav-link " href="https://www.instagram.com/honestidadepoetica/">Instagram(Arte)</a>
        <a class="nav-link " href="https://twitter.com/GermanoGualber1">Twitter</a>
        <a class="nav-link disabled" href="#">Facebook(Desativado)</a>
      </div>
    </div>
  </nav>

</div>