<div>
    <h1>sobre</h1>
    <p>Olá, me chamo <b>Germano Gualberto</b>, trabalho como <b>Full Stack Developer</b> e sou entusiasta das áreas de <b>Segurança da Informação</b> e <b>Análise de Dados</b>.
    Nas horas vagas gosto de escrever poesias, ler um bom livro ou escutar música a luz de velas, além claro de assistir algum filme ou jogar videogame.</p>
    <p>Para mais detalhes por favor acesse minhas redes sociais cujos links estão no rodapé. Sinta-se livre também para me mandar alguma mensagem ou enviar um <a href="mailto:germano.poliano.gualberto@ccc.ufcg.edu.br" >e-mail</a> caso deseje entrar em contato.</p>
  </div>